<div class="content-body">
  <mat-grid-list cols="2">
    <mat-grid-tile class="mat-grid-tile">1</mat-grid-tile>

    <mat-grid-tile class="mat-grid-tile">
      <div>
        <form class="example-form">
          <mat-form-field class="example-full-width">
            <input matInput placeholder="Username" />
          </mat-form-field>

          <mat-form-field class="example-full-width">
            <input matInput placeholder="Password" />
          </mat-form-field>

          <button mat-raised-button color="primary">Login</button>
        </form>
      </div>
    </mat-grid-tile>
  </mat-grid-list>
</div>
